In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("Resources/vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
# filter to only get rows where there are at least 20 total votes
vine_df_filtered_high_votes = vine_df[vine_df["total_votes"] >= 20]
vine_df_filtered_high_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [4]:
# filter to only get rows where helpful/total_votes is at least .50
total_votes = vine_df_filtered_high_votes["total_votes"]
helpful_votes = vine_df_filtered_high_votes["helpful_votes"]
vine_df_filter_helpful = vine_df_filtered_high_votes[(helpful_votes/total_votes) >= .50]
vine_df_filter_helpful.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [5]:
# filter to only get rows that are part of "vine" program
vine_df_filter_included = vine_df_filter_helpful[vine_df_filter_helpful["vine"]=="Y"]
vine_df_filter_included.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [8]:
# filter to only get rows that are NOT part of "vine" program
vine_df_filter_not_included = vine_df_filter_helpful[vine_df_filter_helpful["vine"]=="N"]
vine_df_filter_not_included.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [9]:
# total number of paid reviews (vine=yes)
total_paid_reviews = len(vine_df_filter_included)
total_paid_reviews

94

In [10]:
# total number of unpaid reviews (vine=no)
total_unpaid_reviews = len(vine_df_filter_not_included)
total_unpaid_reviews

40471

In [11]:
# number of 5-star paid reviews (vine=yes)
paid_five_star_reviews_num = len(vine_df_filter_included[vine_df_filter_included["star_rating"]==5])
paid_five_star_reviews_num

48

In [12]:
# number of 5-star unpaid reviews (vine=no)
unpaid_five_star_reviews_num = len(vine_df_filter_not_included[vine_df_filter_not_included["star_rating"]==5])
unpaid_five_star_reviews_num

15663

In [13]:
# percent of 5-star reviews for paid (vine=yes)
paid_five_star_percent = (paid_five_star_reviews_num/total_paid_reviews)*100
paid_five_star_percent

51.06382978723404

In [14]:
# percent of 5-star reviews for unpaid (vine=no)
unpaid_five_star_percent = (unpaid_five_star_reviews_num/total_unpaid_reviews)*100
unpaid_five_star_percent

38.701786464381904